@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-family-poppins: 'Poppins', theme('fontFamily.sans');
}

:root {
  --chrysler-blue: #5603ad;
  --amethyst: #8367c7;
  --celadon: #81eaa7;
  --tea-green: #28b33f;
  --honeydew: #f0fff1;
  --font-weight-normal: 300; /* Lighter default font weight */
  --font-weight-medium: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}

body {
  font-weight: var(--font-weight-normal);
}

/* Default text to be lighter */
p, span, div {
  font-weight: var(--font-weight-normal);
}

html{
  scroll-behavior: smooth;
}

/* Override default Tailwind font weights */
.font-bold {
  font-weight: var(--font-weight-bold) !important;
}

.font-semibold {
  font-weight: var(--font-weight-semibold) !important;
}

.font-medium {
  font-weight: var(--font-weight-medium) !important;
}

.font-normal {
  font-weight: var(--font-weight-normal) !important;
}

.gears-container svg {
  transition: transform 0.1s linear;
  will-change: transform;
  transform-origin: center;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
}

@media (max-width: 768px) {
  .gears-container {
    position: absolute;
    z-index: 0;
  }
}